font-family: 'Shrikhand', cursive;
font-family: 'Roboto', sans-serif;

body{
    font-family: 'Roboto';
    overflow-x: hidden;
    width: 100%;
    margin: auto;
    background-color: black;
}

header{
	display: flex;
    width: 95%;
    text-align: center;
    column-gap: 15%;
    padding: 0px 0px 0px 5%;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: 'Roboto';
}

header i{
	font-size: 30px;
}

header img{
	width: 50%;
}

.image img{
	position: relative;
	width: 100%;
	object-fit: cover;
	height: 250px;
	z-index: 0;
}

.page{
	position: relative;
	z-index: 1;
	width: 90%;
	font-family: 'Roboto';
	background-color: #F2F2F2;
	border-radius: 30px 30px 0px 0px;
	padding: 0% 5% 30px 5%;
	margin-top: -20%;
	display: flex;
  	align-items: center;
  	justify-content: center;
  	flex-direction: column;
  	overflow: hidden;
}

a{
	text-decoration: none;
	color: inherit;
}

.titre{
	width: 100%;
	display: flex;
	text-align: center;
	justify-content: space-between;
	align-items: center;
}

.titre i{
	font-size: 25px;
}

.coeur-vide{
	position: relative;
	z-index: 2;
	right: 0px;
}

.coeur-plein{
	position: relative;
	z-index: 1;
	right: 0px;
	display: none;
}

.coeur:hover .coeur-vide{
	display: none;
}

.coeur:hover .coeur-plein{
	display: block;
	background: linear-gradient(#ED80E6, #c67ef2);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.menu{
	width: 100%;
}

.menu h2{
	border-bottom: 3px solid #99E2D0;
	width: 13%;
}

.button{
  	display: flex;
    border-radius: 20px;
    margin-bottom: 15px;
    background-color: white;
    padding: 0% 0% 0% 5%;
    transform: scale(1.0);
    width: 95%;
    height: 60px;
    overflow: hidden;
}


.button:hover .prix{
	transform: translate(-60px);
	transition: all 400ms;
	margin-left: 35px;
}

.button:hover .anim i{
	transform: rotate(-720deg);
	transition: all 400ms
}




.anim{
	height: 60px;
    width: 60px;
    background-color: #99E2D0;
    display: flex;
  	align-items: center;
  	justify-content: center;
  	text-align: center;
  	border-radius: 0px 20px 20px 0px;
}

.anim i{
	color: white;
    display: flex;
    justify-content: center;
    margin: 20px 20px;
    font-size: 32px;
}

.button_in{
	overflow: hidden;
  	text-overflow: ellipsis;
  	white-space: nowrap;
  	width: 80%;
}

.button_in h3{
	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
  	margin: 7px 0px;

}

.button_in p{
  	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
  	margin: 0px;
}

.prix{
	display: flex;
  	flex-direction: row;
  	align-items: flex-end;
  	justify-content: flex-end;
    font-weight: bold;
    width: 20%;
    position: relative;
    right: -60px;
}

.prix p{
	margin: 0px 15px 5px 0px;
}


.bouton_1{
	display: flex;
    justify-content: center;
    height: 50px;
    border-radius: 30px;
    margin: 15%;
    background-image: linear-gradient(#E26FDA, #AB5EDB);
    color: white;
    padding: 0px 20px;
    transform: scale(1);
}

.bouton_1:hover{
    transition: all 500ms;
	background-image: linear-gradient(#ED80E6, #c67ef2);
	box-shadow: 3px 3px 10px grey;
}



footer{
	width: 90%;
	text-align: left;
	justify-content: center;
	background-color: #353535;
	color: white;
	align-items: center;
	line-height: 25px;
	padding: 0% 5% 5% 5%;
	font-family: 'Roboto'
}

.footer{
	width: 98%;
	padding: 1%;
	align-items: center;
}

.logo{
	font-family: 'Shrikhand';
}

footer img{
	width: 50%;
}

ul{
	padding: 0px;
	margin: 0px;
}

li{
	display: flex;
	align-items: center;
	column-gap: 15px;
}

li p{
	margin: 0px;
}