body{
	margin: 0px;
	padding: 0px;
	text-align: center;
}

.spinner{
	height: 500px;
	line-height: 500px;
	background-color: yellowgreen;
}

.loader{
	width: 200px;
	height: 200px;
	font-size: 50px;
	display: inline-block;
	transform: scale(1.0);
}

.loader:hover i{
	transform: rotate(360deg);
	transition: all 2s;
}